<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learning.more.dao.mapper.WeeklyPlanMapper">

    <resultMap id="BaseResultMap" type="learning.more.model.domain.WeeklyPlan">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="INTEGER"/>
            <result property="classId" column="class_id" jdbcType="INTEGER"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,class_id,
        updated_time,created_time,is_deleted
    </sql>
    <select id="getWeeklyPlanDetail" resultType="learning.more.model.vo.WeeklyPlanItemDetail">
        <bind name="tenantId" value="@learning.more.service.auth.UserHolder@getTenantId()"/>
        SELECT
        wpi.id,
        wpi.course_id,
        wpi.sort_num,
        wpi.day_of_week,
        wpi.is_deleted,
        wpi.created_time,
        wpi.updated_time,
        c.name AS courseName,
        c.duration AS duration
        FROM
        weekly_plan_item wpi
        LEFT JOIN
        course c ON wpi.course_id = c.id AND c.is_deleted = 0
        WHERE wpi.tenant_id = #{tenantId}
        AND wpi.id = #{planId}
        AND wpi.is_deleted = 0
    </select>
</mapper>
